.app_box {
  max-width: 93%;
  min-width: 93%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

.logo_box img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_box {
  border-radius: 30px;
}

.link_box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto";
}

.link {
  border-radius: 10px;
}
.link:hover {
  border-radius: 20px;
}

.link img,
.view-icon {
  width: 20px;
  height: 20px;
}

.landing_top-text {
  letter-spacing: -0.02em;
}

.landing_mid_text {
  letter-spacing: -0.02em;
  background: linear-gradient(90deg, #ffffff 10%, #ae748f 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.landing_btn img {
  height: 20px;
}
.landing_btn {
  background: linear-gradient(90deg, #fcd7ad -14.29%, #ff5f5c 76.71%);
  border-radius: 10px;
  transition: all ease-in-out 0.4s;
}
.landing_btn:hover {
  background: linear-gradient(15deg, #fcd7ad -14.29%, #ff5f5c 76.71%);
  border-radius: 20px;
}

.arrow_btn {
  left: 48%;
  width: 30px;
}

.about_pic_box {
  background: rgba(79, 135, 146, 0.5);
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;

  min-height: 50%;
}

.about_pic_box div {
  border-radius: 50%;
}

.side_pane {
  min-width: 300px;
  letter-spacing: 0.02em;
}
.about_section {
  letter-spacing: 0.03em;
  backdrop-filter: blur(100px);
  border-radius: 20px;
}

.gallery-card {
  max-width: 200px;
}

.mid_box {
  transform: translateY(-40px);
}

.text_box {
  transform: translateY(-60px);
  letter-spacing: 0.02em;
  background: linear-gradient(
    179.93deg,
    rgba(79, 135, 146, 0.5) 73.61%,
    rgba(252, 252, 252, 0.5) 131.69%
  );
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
  min-height: 204px;
  max-height: 204px;
  min-width: 190px;
  max-width: 190px;
}

.view {
  transform: translateY(-60px);
  border-radius: 0 0px 20px 20px;
}
.view:hover {
  border-radius: 0 0 40px 40px;
  transition: all ease-in-out 0.5s;
}
.view-box {
  letter-spacing: 0.02em;
  background: linear-gradient(
    179.93deg,
    rgba(79, 135, 146, 0.5) 73.61%,
    rgba(252, 252, 252, 0.5) 131.69%
  );
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
}
.view-box img {
  border-radius: 10px;
}
.view-box button img {
  width: 30px;
}

.loading_box {
  background: rgba(79, 135, 146, 0.5);
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 60px;
}

/* Effectcs */
.neo-morph {
  background: #2c3e50;
  box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  transition: all ease-in-out 0.5s;
}

.neo-morph:hover {
  background: #2c3e50;
  box-shadow: inset 0px 4px 500px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
}

.load-text {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* scrollbar styles  */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(220, 220, 220, 0.25);
  backdrop-filter: blur(80px);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #fcd7ad;
  width: 100px;
}
